# --- Build artifacts ---
# Игнорировать папку сборки, сгенерированную CMake
/build/

# --- Qt/Deployment artifacts ---
# Игнорировать временную папку развертывания, которую мы использовали
/_DEPLOY/

# Игнорировать Debug и Release исполняемые файлы в корне (если они есть)
*.exe
*.dll

# Игнорировать временные файлы объектного кода
*.obj
*.o
*.pdb

# --- vcpkg ---
# Игнорировать конфигурационные файлы vcpkg, если они есть
/vcpkg_installed/